body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "output output"
    "numbers operators";
  column-gap: 10px;
  row-gap: 10px;
  border: 1px solid black;
}

.calculator--output {
  grid-area: output;
  align-self: end;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.calculator--numbers {
  grid-area: numbers;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.calculator--operators {
  grid-area: operators;
}